
.color {
    font-family: Arial, Helvetica, sans-serif;
    width: $size-color;
    height: $size-color;
    line-height: $size-color;
    border-radius: $size-color;
    margin: $size-color / 10;
    float: left;
    color: #fff;
    text-align: center;
}

.base-color {
    background: $base-color;
}

.lighten {
    background: lighten($base-color, 10%);
}

.darken {
    background: darken($base-color, 10%);
}

.saturate {
    background: saturate($base-color, 20%);
}

.desaturate {
    background: desaturate($base-color, 20%);
}

.hue {
    background: adjust-hue($base-color, 20%);
}

.alpha {
    background: rgba($base-color, .7);
}

.base-color:hover {
    color: $base-color;
}


.lighten:hover {
    color: lighten($base-color, 10%);
}

.darken:hover {
    color: darken($base-color, 10%);
}

.saturate:hover {
    color: saturate($base-color, 20%);
}

.desaturate:hover {
    color: desaturate($base-color, 20%);
}

.hue:hover {
    color: adjust-hue($base-color, 20%);
}

.alpha:hover {
    color: transparentize($base-color, 1);
}
